﻿@model  System.Collections.Generic.List<NASK_Zadanie.Models.FileData>
@{
    ViewBag.Title = "Home Page";
    int pages = ViewBag.Pages;
    int currentPage = ViewBag.CurrentPage;
}
<div class="row text-center">
    @Html.ActionLink("Upload File", "UploadFile", "", new { @class = "btn btn-default" })
</div>
<div class="row">
    <div class="list-group">
        @foreach (var fd in Model)
        {
            <div class="list-group-item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2">
                            @fd.Title
                        </div>
                        <div class="col-md-2">
                            @fd.Title
                        </div>
                        <div class="col-md-2">
                            @fd.Description
                        </div>
                        <div class="col-md-6">
                            Content?
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="row text-center">
    <div class="btn-group">
        <!-- TODO: Searching -->
        @using (Html.BeginForm())
        {
            @Html.TextBox("Title", "", new { placeholder = "Title" })
            @Html.TextBox("Author", "", new { placeholder = "Author" })
            @Html.TextBox("Description", "", new { placeholder = "Description" })
            @Html.TextBox("Content", "", new { placeholder = "Content" })
        }
    </div>
</div>
<div class="row text-center">
    <div class="btn-group">
        @for (int i = 1; i <= pages; i++)
        {
            @Html.ActionLink(i.ToString(), "Index", new { page = i }, new { @class = "btn " + (currentPage == i ? "btn-info" : "btn-default") })
        }
    </div>
</div>