﻿@model NASK_Zadanie.Models.FileUploadVM
@{
    /**/

    ViewBag.Title = "UploadFile";
}

<h2>Upload File</h2>
@using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Title)
        <br />
        @Html.TextBoxFor(m => m.Title)
        @Html.ValidationMessageFor(m => m.Title)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Author)
        <br />
        @Html.TextBoxFor(m => m.Author)
        @Html.ValidationMessageFor(m => m.Author)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        <br />
        @Html.TextAreaFor(m => m.Description)
        @Html.ValidationMessageFor(m => m.Description)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.File)
        <br />
        @Html.TextBox("File", "", new { type = "file" })
        @Html.ValidationMessageFor(m => m.File)
    </div>
    <input type="submit" value="Submit"/>
}
